<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
    <!-- LINK CSS FILE -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<!-- DEBUT HEADER -->
<div class="header-container">
    <div class="site-name">
        <a href="https://zupimages.net/viewer.php?id=21/06/rcrz.png"><img
                alt="" height="60x" src="https://zupimages.net/up/21/06/rcrz.png"
                width="250x">
        </a>
    </div>
    <div class="header-bar">
        <!--BOUTONS -->
        <button class="btn"
                onclick="window.location='products'"
                style="background: #0998A4; color: white;" type="button">Retourner à
            l'acceuil
        </button>
        <a class="btn"
           style="background: #0998A4; color: white;" th:href="@{/register}" type="button">
            Register<span class="fa fa-registered"></span>
        </a>
    </div>
</div>
<!-- FIN HEADER -->
<div class="container mt-5">
    <div class="card">
        <div class="card-header"
             style="color: #0998A4; font-size: 200%; font-family: fantasy;">Authentification
        </div>
        <!-- DEBUT FORMULAIRE -->
        <form method="post" th:action="@{/login}">
            <hr>
            <hr>
            <!-- Name -->
            <div class="form-row justify-content-center">
                <div class="input-group-append">
						<span class="input-group-text"><i
                                class="fa fas fa-envelope"></i></span>
                    <input class="form-control" id="username" name="username" placeholder="pseudo"
                           style="width: 300px; height: 30px;"
                           type="text" value="">
                </div>
            </div>
            <!-- Password -->
            <div class="form-row justify-content-center">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fas fa-key"></i></span>
                    <input class="form-control" id="" name="password" placeholder="Mot de passe"
                           style="width: 300px; height: 30px;" type="password"
                           value="">
                </div>
            </div>
            <!-- Sign up button -->
            <div class="form-row justify-content-center">
                <button class="btn btn-light my-4 btn-block"
                        style="color: #0998A4; border: solid; font-weight: bold; width: 300px;"
                        type="submit">
                    Se connecter
                </button>
            </div>
        </form>
        <!-- FIN FORMULAIRE -->
    </div>
</div>
</body>
</html>